* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header styles */
header {
    margin: 50px 140px;
}
.banner {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.614), rgba(0, 0, 0, 0.651)), url('../resources/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 120px;
}
.banner p {
    font-size: 32px;
    text-align: center;
}
.banner h1 {
    font-size: 72px;
   text-align: center;
}
/* main styles */
main {
    margin: 50px 140px;
}

.image-one {
    height: 500px;
}
.highlight {
    
    text-align: center;
    
}

.discount {
    font-size: 88px;
    color: red;
    font-family: Inter;
}

.deal {
    color: red;
}

/* section start here */
.second-banner {
    margin-top: 120px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.614), rgba(0, 0, 0, 0.651)), url('../resources/Vectorrr.png');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.second-banner-welcome {
    font-size: 64px;
}

/* second section start here */
.nav {
    background-color: red;
    border-radius: none;
    color: white;
}

.hello {
    margin-top: 120px;
    margin-bottom: 120px;
    width: 100%;
    height: 282px;
    background-color: antiquewhite;
    background-repeat: none;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.span-color {
    color: red;
   
}
.man{
   text-align: center;.
}
.holidays{
    color: #FF0000;
}
.what{
    font-size: 24px;
}
.just{
    font-size: 72px;
}
.go{
    text-align: center;
}
    /* another-section start */

.the-images{
    margin: 100px;
}
.gift{
color: #FF0000;
}
.another-section{
    margin: 100px
}
/* next-section-here */
.section{
    align-items: center;
    margin-left: 100px;
}